.m-grid {
    position: absolute;
    top: 53%;
    margin-top: -75vh;
    left: 50%;
    margin-left: -100vw;
    width: 200vw;
    height: 150vh;
    transform: scaleY(0);
    background-image: linear-gradient(
        0deg, transparent 24%, rgb(188, 100, 95) 25%, #CF615E 26%, transparent 27%, transparent 74%, #CF615E 75%, #CF615E 76%, transparent 77%, transparent
        ), 
        linear-gradient(
            90deg, transparent 24%, rgba(188, 100, 95, 0.75) 25%, rgba(0, 6, 59, 0.25) 26%, transparent 27%, transparent 74%, #CF615E 75%, #CF615E 76%, transparent 77%, transparent
            );
    background-size: 50px 50px;
    z-index: -99;
}

/* Animation */
.m-grid.is-animating {
    animation: fly 3s linear;
    animation-iteration-count: infinite;
}
@keyframes fly {
    0% { transform: perspective(300px) rotateX(80deg) translateY(0%) }
    100% { transform: perspective(300px) rotateX(80deg) translateY(50px) }
}

body {
    overflow: hidden;
}